/*
    BASE STYLES
*/
:root {
    --color-primary: rgb(173, 33, 24);
    --color-secondary: #451400;
    --color-gold: #b68207;
}

body {
    font-family: Nunito, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}

h1 {
    font-family: Trade Gothic LT Bold, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
        Segoe UI Symbol;
    font-weight: 700;
    color: var(--color-secondary);
    text-transform: uppercase;
    font-size: 2.1rem;
    line-height: 1em;
}
.uppercase {
    text-transform: uppercase;
}
.text-gold {
    color: var(--color-gold);
}

/*
    LAYOUTS
*/

.header {
    height: 80px;
    display: flex;
    flex-flow: row nowrap;
    border-bottom: 1px solid rgb(146, 146, 146);
    justify-content: space-between;
    padding: 15px;
}
.header-left {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    img {
        padding-right: 15px;
    }
}
.sign-in {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.navigation {
    padding: 25px;
    align-self: center;
    a {
        color: var(--color-secondary);
    }
    ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        li {
            text-transform: uppercase;
            font-size: 1.3rem;
            font-weight: 700;
            padding: 15px;
        }
    }
}
.header-right {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.hero {
    background-image: url(img/Pb_homepage-hero_desktop_2300x520.gif);
    position: relative;
    overflow: hidden;
    min-height: 450px;
    border-bottom: 1px solid rgb(146, 146, 146);
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
}
.hero-container {
    max-width: 450px;
    margin: auto;
}
.hero-heading {
    font-size: 3.2rem;
}
.hero-text {
    font-size: 22px;
    font-weight: 500;
    color: var(--color-secondary);
}
.signup {
    border-bottom: 1px solid rgb(146, 146, 146);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.signup--img {
    max-width: 62px;
    padding-right: 15px;
}
.signup--text {
    width: 338px;
}
.signup--or {
    margin: 0 25px;
}
.menu {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    flex: 0 1 33%;
}
.menu--item {
    text-align: center;
    width: 325px;
}
.menu--img {
    width: 300px;
}
.menu--order {
    color: var(--color-gold);
}

/*
    FINE TUNING
*/
.button {
    width: 100%;
    text-align: center;
    padding: 10px 25px;
    color: #fff;
    text-decoration: none;
}
.signup--btn {
    color: var(--color-secondary);
    border: solid 1px var(--color-secondary);
    width: auto;
    padding: 10px;
}
.signup--signin {
    text-decoration: underline;
}
.cta-primary {
    background-color: var(--color-primary);
}
.cta-secondary {
    background-color: var(--color-secondary);
}
.cta-gold {
    background-color: var(--color-gold);
}
.rounded {
    border-radius: 1.5em;
}
.location-wrapper {
    display: flex;
    align-items: center;
}
.location {
    font-weight: 100;
    img {
        max-width: 26px;
    }
}
